.total-section-wrapper {
    display: flex;
    justify-content: center;
    
}

.line-chart--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

body{
    background-color: rgba(220, 220, 220, 0.87);
}

