.card--size {
    width: 400px;
}

.card-title--size {
    font-size: 18px;
}

.card-price--position {
    display: block;
    margin: auto;
}

.card--style {
    border: none !important;
    box-shadow: 2px 4px 10px grey;
}